.checkbox {
  margin-right:8px;
}

.clickable {
  cursor: pointer;
}


.table-data.ng-hide-add, .table-data.ng-hide-remove {
  -webkit-transition: 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
  -moz-transition: 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
  -ms-transition: 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
  -o-transition: 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
  transition: 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
  position: relative;
  display:block!important;
}
.table-data.ng-hide-add.ng-hide-add-active, .table-data.ng-hide-remove {
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  opacity:0;
}
.table-data.ng-hide-add, .table-data.ng-hide-remove.ng-hide-remove-active {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  opacity:1;
}


.table-row.ng-enter {
  /* standard transition code */
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity:0;
}
.table-row.ng-enter-stagger {
  /* this will have a 20ms delay between each successive leave animation */
  -webkit-transition-delay: 0.02s;
  transition-delay: 0.02s;

  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.table-row.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}
