<div class="modal-header">
    <button ng-click="close()" class="close" aria-hidden="true" type="button">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h3 class="modal-title">{{resource.sn}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <dl class="dl-horizontal">
        <dt ng-repeat-start="field in RESOURCE_META">{{field.title}}</dt>
        <dd ng-repeat-end>{{resource[field.field]||' '}}</dd>
      </dl>
    </div>
    <div class="col-xs-12 col-md-6">
      <h4 ng-if="resource.recent_logs">近期日志</h4>
      
      <ul>
        <li ng-repeat="log in resource.recent_logs">
        {{log}}
        </li>

      </uL>
    </div>
  </div>
</div>
