<link rel="stylesheet" type="text/css" href="bower_components/nvd3/nv.d3.css"></link>

<div class="modal-header">
    <button ng-click="close()" class="close" aria-hidden="true" type="button">
      ×
    </button>
    <h3 class="modal-title">统计信息</h3>
</div>

<div class="modal-body">
  <select id="chartType" ng-model="chart.type" ng-change="chartSelectionChange()" class="form-control">
    <option value="AreaChart">AreaChart</option>
    <option value="PieChart">PieChart</option>
    <option value="ColumnChart">ColumnChart</option>
    <option value="LineChart">LineChart</option>
    <option value="Table">Table</option>
    <option value="BarChart">BarChart</option>
  </select>
  <div google-chart chart="chart" select="selected(selectedItem)" style="{{chartCssStyle}}"></div>
  <div ng-if="selectedItem">
  <div google-chart chart="selectedChart" style="{{selectedChartCssStyle}}"></div>
    
  </div>
</div>
