<div class="container">
  <h3>统计信息</h3>
  <div class="row">
    <div class="col-xs-2">
      <select id="chartType" ng-model="countChart.options.chart.type" class="form-control">
        <option value="area"> Area </option>
        <option value="areaspline"> Smooth area </option>
        <option value="bar"> Bar </option>
        <option value="column"> Column </option>
        <option value="line"> Line </option>
        <option value="pie"> Pie </option>
        <option value="scatter"> Scatter </option>
        <option value="spline"> Smooth line </option>
      </select>
    </div>
    <div class="col-xs-10 text-right">
      <a ui-sref="list" class="btn btn-info">列表</a>
    </div>
  </div>
  <br></br>
  <div class="row">
  </div>
  <br></br>
  <div class="row">
    <div class="col-xs-12">
      <highchart id="countChart" config="countChart" style=""></highchart>
    </div>
  </div>
  <div class="row" ng-show="selectedYear">
    <div class="col-xs-12">
      <button ng-click="selectedYear = null" class="close" aria-hidden="true" type="button">
        ×
      </button>
    </div>
    <div class="col-xs-12 col-md-6">
      <highchart id="selectedCountChart" config="selectedCountChart" style=""></highchart>
    </div>
    <div class="col-xs-12 col-md-6">
      <highchart id="selectedPriceChart" config="selectedPriceChart" style=""></highchart>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <highchart id="priceChart" config="priceChart" style=""></highchart>
    </div>
  </div>
</div>
</div>
