<html data-framework="angularjs">  
<head lang="zh">
<meta charset="utf-8">
<title>ITLog</title>  
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="bower_components/ng-table/ng-table.css"></link>

<link rel="stylesheet" type="text/css" href="css/app.css"></link>
</head>
<body ng-controller="myContorller">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form class="form-inline" role="form">
        <label>显示的列:</label>
        <div class="checkbox" ng-repeat="column in RESOURCE_META">
          <label>
            <input type="checkbox" ng-model="column.visible"/> {{column.title}} 
          </label> 
        </div>
      </form>
    </div>
  </div>
  <form class="form-inline" role="form">
    <div class="form-group has-feedback">
      <input type="text" class="form-control" placeholder="搜索" style="width:100%" ng-model="search" xng-clearable>
      <span class="glyphicon glyphicon-remove form-control-feedback clickable" ng-click="cleanSearch()" ng-show="search.length"></span>
    </div>
  </form>
  <div class="row">
    <div class="col-xs-12 table-responsive">
      <label ng-show="tableParams.total()">数量：{{tableParams.total()}}</label>

      <table ng-table="tableParams" class="table table-hover">
        <tr ng-show="tableParams.total()">
          <th ng-repeat="column in RESOURCE_META"
            ng-show="column.visible" 
            ng-class="{
            'sort-asc': tableParams.isSortBy(column.field, 'asc'),
            'sort-desc': tableParams.isSortBy(column.field, 'desc')
            }"
            ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'desc') ? 'asc' : 'desc')"
            class="text-center sortable table-data"
            >
            {{column.title}}
          </th>
        </tr>
        <tr ng-repeat="resource in $data" ng-click="open(resource)" class="clickable table-row">
          <td ng-repeat="column in RESOURCE_META" ng-show="column.visible" sortable="column.field" class="table-data">
            {{resource[column.field]}}
          </td> 
        </tr> 
      </table>
    </div>
  </div>
</div>

<script data-main="js/main" src="bower_components/requirejs/require.js"></script>

</body>
</html>
